
.img-container {


    .upload-avatar {
        width: fit-content;
    }

    .preview-image {
        height: 50px;
        background: center center no-repeat;
        background-size: contain;
    }
}

