
/*#region X */
/*#endregion X*/


/*#region slick*/
.slick-prev {
    border: 2px solid #d7d7d7 !important;
    left: -10 !important;
    width: 50px !important;
    background: #fff !important;
    height: 50px !important;
    z-index: 1 !important;
}

.slick-next {
    border: 2px solid #d7d7d7 !important;
    right: -12 !important;
    width: 50px !important;
    height: 50px !important;
    background: #fff !important;
}

.slick-prev:before,
.slick-next:before {
    // content: '←';
    color: grey !important;
    font-size: 32px !important;
    line-height: 50px !important;
}

.slick-disabled {
    display: none !important;
}

/*#endregion slick*/



/*#region content*/
.home-slider-content {


    .section-share {
        height: inherit;
        padding: 0 325px;

        .section-header {
            display: flex;
            justify-content: space-between;
            padding: 32px 0 12px 0;

            .section-title {
                font-size: 24px;
                font-weight: bold;
            }

            .btn-more {
                background: #ebebeb;
                text-transform: uppercase;
                display: inline-block;
                padding: 10px 15px;
                color: #282e41;
                text-decoration: none;
                margin-right: 8px;
            }
        }

        .section-body {
            padding: 16px 0 64px 0;


            .section-item {
                text-align: center;


                .item-title {
                    color: #666;
                    margin-top: 5px;
                    font-size: 14px;
                    cursor: pointer;

                    &:hover {
                        color: #45c3d2;
                    }

                }

                .item-subtitle {
                    color: #666;
                    font-size: 12px;
                }
            }
        }
    }
}


.section-share {
    &.speciality {
        background-color: #fff;

        .item-customize {
            background-image: url(../../assets/speciality/co-xuong-khop.jpg);
            width: 97%;
            height: 180px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #eee;
        }
    }

    &.medical-facility {
        background-color: #f5f5f5;

        .item-customize {
            background-image: url(../../assets/medical-facility/083122lo-go-viet-duc.jpg);
            width: 97%;
            height: 150px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: #fff;
            margin-bottom: 4px;
        }
    }

    &.outstanding-doctor {
        background-color: #fff;

        .section-item {
            width: 97% !important;
            height: 245px;
            border: 1px solid #d3d0d0;
            padding: 10px 5px;


            .item-customize {
                background-image: url(../../assets/outstanding-doctor/khuyenmt.jpg);
                width: 120px;
                height: 120px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #fff;
                border-radius: 50%;
                margin: 4px auto;
            }
        }
    }

    &.handbook {
        background-color: #f5f5f5;

        .section-item {
            width: 97% !important;
            height: 245px;
            border: 1px solid #d3d0d0;
            padding: 10px 5px;


            .item-customize {
                background-image: url(../../assets/handbook/170053-bien-chung-tieu-duong-thai-ky.png);
                width: 97%;
                height: 150px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                background-color: #fff;
                margin-bottom: 4px;
            }
        }

    }

    &.about-us {
        background-color: #fff;
    }
}


.section-item {
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

/*#endregion content*/

/*#region footer */
.home-footer {
    background-color: #64b9e5;
    height: 60px;

    .footer-desc {
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
}
/*#endregion footer*/